<%= form_with(model: setlist, local: true) do |form| %>
  <% if setlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setlist.errors.count, "error") %> prohibited this setlist from being saved:</h2>

      <ul>
      <% setlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :setlist_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
